.collection__wrapper {
  background-color: $lighter-blue;
  padding-top: 70px;
}

.collection__header {
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    padding: 16px 80px;
    font-size: 20px;
    line-height: 38px;
  }
}

.collection__meta {
  padding-left: 80px;
}

.collection__title {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.collection__description {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
}

.collection {
  padding: 20px;
  .btn.btn__secondary-light, .btn.btn__primary {
    margin: 8px 9px;
  }
  @media (min-width: 768px) {
    padding: 20px 80px;
  }
}

.collection__end {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 40px;
  @media (min-width: 768px) {
    padding: 64px 175px;
  }
}