.collection__wrapper {
  background-color: $lighter-blue;
  padding-top: 70px;
}

.collection__header {
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  p {
    padding: 16px 80px;
    font-size: 20px;
    line-height: 38px;
  }
}

// .collection__meta {
//   @media (min-width: 990px) {
//     padding-left: 80px;
//   }
// }

.collection__title {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.collection__description {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
}

.collection {
  padding: 20px;
  .btn.btn__secondary-light, .btn.btn__primary {
    margin: 8px 9px;
  }
  &:hover {
    background-color: rgba(0,0,0, .1);
    border-radius: 5px;
  }
  .collection_cta {
    text-align: right;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
  @media (min-width: 768px) {
    padding: 20px 0;
  }
}


.collection__end {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  // font-size: 16px;
  font-size: 24px;
  // line-height: 24px;
  line-height: 36px;
  padding: 40px;
  text-align: center;
  a {
    font-size: 24px !important;
  }
  
  @media (min-width: 768px) {
    padding: 64px 175px;
  }
}
.collection__end_p {
    font-size: 20px;
    text-align: center;
    padding: 0px 40px 7px 40px;
  }