$postman-orange: #FF6C37;
$deep-space-blue: #1C272B;

$light-orange: #F4815B;
$bright-orange: #F99B78;
$blog-orange: rgba(249, 157, 120, 0.5);
$night-sky: #2B3B41;
$blue-steel: #6D7F91;
$light-blue: #DBE9F2;
$lighter-blue: #F5F8FB;
$dark-purple: #493E5E;
$light-purple: #665C80;
$bright-purple: #7D727E;

$gray-3: #282828;
$gray-2: #666666;
$gray-1: #F4F4F4;
$white: #FFFFFF;

$info-blue: #30ACCB;
$success-green: #26B47F;
$error-red: #ED4B48;
$warning-yellow: #FFB400;