.nonprofit__wrapper {
  background-color: $lighter-blue;
  padding: 70px 0px 90px 0px;
  margin-top: 48px;
}

.nonprofit__title {
  text-align: center;
}

.nonprofits__heading{
  font-size: 24px;
  line-height: 64px;
}

.nonprofit__description {
  font-size: 20px;
  line-height: 38px; 
  text-align: center;
  padding: 20px 180px !important;

  @media (max-width: 920px) {
    padding: 20px !important;
  }
}

.nonprofits__li {
  font-size: 20px;
  line-height: 38px;
  list-style-position: outside;
  padding-inline-start: 16px;
  li {
    padding: 3px 0px 3px 16px;
    .bold {
      font-weight: 700px !important;
    }
  }
  
}

.nonprofit__text {
  font-size: 20px;
  line-height: 38px;
}

.nonprofits__space {
  padding-right: 36px !important;
  margin-top: 24px;
}

.nonprofit__col-left {
  padding-top: 48px;
  padding-left: 180px !important;
  @media (max-width: 920px) {
    padding-left: 20px !important;
  }
}

.nonprofit__form {
  width: 100% !important;
}
