@import '../styles/_variables.scss';

.footer {
  border-top: 1px solid $grey_30;
  background-color: $grey_00;
  font-size: 14px;
  color: $grey_50 !important;
  padding: 80px 0;
  
  .container {
    padding-right: 24px;
    padding-left: 24px;
  @media screen and (max-width: 1199px) {
    max-width: 1199px !important; /* v5 was 1440px; v6 is 1199px */
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1224px !important; /* v5 was 1440px; v6 is 1224px */
    width: 100%;
  }
}


  .footer-col-title {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 16px !important;
    letter-spacing: 0.48px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 8px;
  }
}


.copyright {
  font-size: 12px;
  margin-left: 12px;
}
.column {
 

  li {
    list-style-type: none !important;
    margin-bottom: 0;
  }
  
  a {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: $grey_50;
    text-transform: none;
    font-weight: 300;
    display: block;
    line-height: 1.7;
    padding: 5px 0;
  }
    a:hover,
    a:active {
      color: $blue_50 !important;
      text-decoration: none !important;
    }

    span {
      border: 1px solid $blue_10;
      border-radius: $medium-border-radius;
      padding: 0 7px 0 4px;
      display: inline-block;
      white-space: pre;
      margin-left: 6px;
    }
  }


.FooterImgWrapper {
  @media (min-width: 768px) {
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: grayscale(0);
      transition: all 0.2s ease-in-out;
    }
  }
}

.svg {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;

  svg {
    max-height: 100%;
    width: auto;
  }
}


