$postman-orange: #FF6C37;
$deep-space-blue: #1C272B;

$light-orange: #F4815B;
$bright-orange: #F99B78;
$blog-orange: rgba(249, 157, 120, 0.5);
$night-sky: #2B3B41;
$blue-steel: #6D7F91;
$light-blue: #DBE9F2;
$lighter-blue: #F5F8FB;
$dark-purple: #493E5E;
$light-purple: #665C80;
$bright-purple: #7D727E;

$gray-3: #282828;
$gray-2: #666666;
$gray-1: #F4F4F4;
$white: #FFFFFF;

$info-blue: #30ACCB;
$success-green: #26B47F;
$error-red: #ED4B48;
$warning-yellow: #FFB400;

$orange_90: #553326;
$orange_80: #A12700;
$orange_70: #D23F0E;
$orange_60: #E05320;
$orange_50: #FF6C37;
$orange_40: #FF8E64;
$orange_30: #FFB091;
$orange_20: #FFD1BE;
$orange_10: #FFF1EB;
// GREY
$grey_90: #212121;
$grey_85: #262626;
$grey_80: #2B2B2B;
$grey_70: #303030;
$grey_60: #3B3B3B;
$grey_50: #707070;
$grey_40: #A6A6A6;
$grey_30: #E6E6E6;
$grey_20: #EDEDED;
$grey_10: #F2F2F2;
$grey_05: #F9F9F9;
$grey_00: #FFFFFF;
// BLUE
$blue_90: #002D70;
$blue_80: #00439D;
$blue_70: #0053B8;
$blue_60: #0265D2;
$blue_50: #097BED;
$blue_40: #3E92F2;
$blue_30: #74AEF6;
$blue_20: #ADCDFB;
$blue_10: #E7F0FF;

$forms-text: #6B6B6B;

$border-small: 5px;
$border-medium: 10px;
$border-large: 20px;