.ts-section a {
    color: #374785;
    font-weight: 600;
}
.ts-section ul {
    list-style-type: none;
    padding-left: 0;
    
    & li a {
        padding: .5rem 0;
        display: block;
    }
}
.ts-cards {
    margin-bottom: 32px;
    border-top: 4px solid #A8D0E6 !important;
    box-shadow: 0 5px 8px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,.15);
}
.youmayalsolike {
    background-color: rgba(168, 208, 230, .25);
}

.btn-dark {
    background-color: #374785 !important;
    border-color: #374785 !important;
}
.ts-definition-list {
    & dt {
        margin-bottom: .5rem;
        font-size: 1.125rem
    }
    & dd {
        margin-bottom: 2rem;
        border-left: 4px solid #F76C6C;
        padding-left: 1rem;
    }
}
.ts-icon svg {
    height: 25px;
    margin-right: .25rem;
}
p.subtitle {
    font-size: 20px;
    line-height: 1.35;
}