.ts-topnav {
    background-color: #493E5E !important;
    color: #24305E;
    font-weight: 700;
    font-size: 16px;
    & a.navlink {
        color: #FF6C37;
        margin-right: 1rem;
    }
}
a.header__homelink {
    color: #fff;
    &:hover {
        color: #fff;
    }
}