a.herolink {
color: #FFFFFF;
    border-bottom: 1px solid;
  }
a.herolink {
    &:hover {
      text-decoration: none;
      color: #FF6C37;
    }
  }

  .ts-hero-background {
    background-color: #493E5E !important;
  }