a.herolink {
color: #FFFFFF;
    border-bottom: 1px solid;
  }
a.herolink {
    &:hover {
      text-decoration: none;
      color: #FF6C37;
    }
  }

.ts-hero-background {
  background-color: #493E5E !important;
  margin-bottom: 40px
}

.heroLight_title {
  color: #fff !important;
  padding: 40px;
}

.alert_banner{
  font-size: 24px;
  font-weight: bold;
  text-align:center;
  margin-bottom: 25px;
  background-color: #FF6C37;
  color: #FFF;
}
