.ts-state {
  margin-bottom: 24px;
  border: 1px solid rgba(0,0,0,.125);
  padding: 24px 48px !important;
}
.ts-state-site__description {
 padding-right: 48px !important;
}

.ts-state-site__address {
  .address {
    margin: 0px !important;
  }
}