name: CI

on: 
  pull_request:
    branches:
    - develop

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@master
    - name: eslint run
      run: |
        npm install
        npm run test:lint

